/* Styles */

.penulis{
    color: red;
}
.asia-tenggara{
    color: blue;
}
.nama-aseli{
    color: yellowgreen;
}
.nama-panggilan{
    color: blueviolet;
}
.aplikasi{
    background-color: red;
    color: white;
}
.tour-guide{
    color: chartreuse;
}
.negara{
    color: crimson;
}
.perasaan{
    color: darkblue;
}
.account{
    background-color: black;
    color: coral;
}    
.acc{
    background-color: black;
        color: blueviolet;
    }
    .akun{
        background-color: black;
        color: blueviolet;
    }
